# LaTeX
*.aux
*.log
*.synctex.gz
*.pdf
*.dvi
*.fdb_latexmk
*.fls
*.out
*.toc
*.bbl
*.blg
*.lot
*.lof
*.gz
*.ist
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.nlo
*.nls
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.maf
*.mtc*